# editorconfig.org

# top-most EditorConfig file
root = true

[*]
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[.git*]
indent_size = 2
indent_style = space

[{[mM]akefile*,*.am}]
indent_size = tab
indent_style = tab

[**.py]
indent_style = space
indent_size = 4

[**.txt]
indent_style = tab
indent_size = 2

[**.{diff,md,rst}]
trim_trailing_whitespace = false

[{**.*sh,test/run,**.bats}]
indent_size = 2
indent_style = space

shell_variant = bash
binary_next_line = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects = true  # like -sr
keep_padding = false # like -kp
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
