[user]
  name = Chris Vasiladiotis
  email = cvassiladiotis@gmail.com
  signingkey = 9201AE3F
[core]
  editor = vim
  excludesfile = /home/vasich/.gitignore
  pager = delta
[merge]
  tool = splice
  conflictstyle = diff3
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
  ui = true
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  features = decorations
  navigate = true  # use n and N to move between diff sections
[diff]
  colorMoved = default
[alias]
  st = status
  s = status -sb
  co = checkout
  ci = commit
  cm = commit -m
  br = branch
  bv = branch -avv
  root = rev-parse --show-toplevel
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit
  lga = log --branches --remotes --tags --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit
  add = add -v
  rev = merge --no-ff --no-commit
  type = cat-file -t
  dump = cat-file -p
  dw = diff --color-words
  dwc = diff --color-words --cached
[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[status]
  showUntrackedFiles = all
[credential]
  helper = store
[commit]
  gpgsign = true
[pull]
  rebase = true
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[safe]
  directory = /bulk/repos/cri
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
