[user]
  name = Chris Vasiladiotis
  email = cvassiladiotis@gmail.com
	signingkey = 9201AE3F
[core]
  editor = vim
  excludesfile = ~/.gitignore
[merge]
  tool = splice
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
  ui = true
[alias]
  st = status
  s = status -sb
  co = checkout
  ci = commit
  cm = commit -m
  br = branch
  bv = branch -avv
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s\\ %Cgreen(%cr)\\ %Cblue[%cn]" --decorate
  lsnc = log --pretty=format:"%h\\ %d\\ %s\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s\\ %Cgreen(%cr)\\ %Cblue[%cn]" --decorate --numstat
  llnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lga = log --branches --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  add = add -v
  rev = merge --no-ff --no-commit
  mrequest = push -u origin HEAD
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  dw = diff --color-words

[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true

[status]
	showUntrackedFiles = all
[credential]
	helper = store
[commit]
	gpgsign = true
[pull]
	rebase = true
